/* Regole Generali pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fredoka, sans serif;
}

.conteiner{
    width: 75%;
    margin: 0 auto;

}

h1{
    text-align: center;
    color: #e53170;
    margin-top: 25px;
    margin-bottom: 35px;
}

main p{
    margin-bottom: 35px;
    text-align: center;
}

.row{
    width: 100%;
    height: auto;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    /* DEBUG */
    background-color: black;
    width: calc(95%/3);
    height: 80px;
    float: left;
    color: #fff;
    margin-bottom: 40px;
    font-size: 80%;
    box-shadow: 0px 0px 5px 0px #424242;
    

}

.col img{
    height: 100%;
    float: left;
}

.col-info{
    padding: 5px 0 0 100px;
    
}

.col-info h3{
    line-height: 30px;
}

span.mail{
    color: #51a1b4;
    line-height: 25px;
    display: block;

}

.col-sx{
    margin-right: 15px;

}
.col-cnt{
    margin: 0 7.5px 0;
    
}
.col-dx{
    margin-left: 15px;
    
}